{% extends 'base.html' %}


{% block content %}
    
    
    <div class="center">
    <h1> {{ Message }} </h1>
    <form id='button'  action="http://127.0.0.1:8000/admin">
        <input class="btn btn-default" type="submit" value="Admin" />
    </form>

    <form id='button'  action="http://127.0.0.1:8000/signup">
        <input class="btn btn-default" type="submit" value="Signup" />
    </form>
    </div>
    
    <style>
        .center{
            display: flex;
            justify-content: center;

        }

        #button {
            margin: 2%;
            padding: 2%;
        }
    </style>
{% endblock  %}